﻿@{
    ViewData["Title"] = "ثبت پارامتر";
}

@model ViewModel.Parameter.CreateParameterViewModel

<div class="global-container">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">ثبت پارامتر</h3>
            <div class="card-text text-right">
                <form asp-controller="parameter" asp-action="create">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ParameterName"></label>
                                <input type="text" class="form-control form-control-sm" asp-for="ParameterName">
                                <span asp-validation-for="ParameterName"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="StandardCount"></label>
                                <input type="number" class="form-control form-control-sm" asp-for="StandardCount">
                                <span asp-validation-for="StandardCount"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="StandardTime"></label>
                                <input type="number" min="1" class="form-control form-control-sm" asp-for="StandardTime">
                                <span asp-validation-for="StandardTime"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="WastedTime"></label>
                                <input type="number" min="1" class="form-control form-control-sm" asp-for="WastedTime">
                                <span asp-validation-for="WastedTime"></span>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary btn-block">ثبت پارامتر</button>
                </form>
            </div>
        </div>
    </div>
</div>