﻿@{
    ViewData["Title"] = "مدیریت پارامتر ها";
}
@model List<ViewModel.Parameter.ParameterViewModel>

<table class="table table-striped table-borderless">
    <thead>
        <tr>
            <th>
                ردیف
            </th>
            <th>
                نام پارامتر
            </th>
            <th>
                شماره پارامتر
            </th>
            <th>
                زمان استاندارد
            </th>
            <th>
                جامعه اماری
            </th>
            <th>
                زمان هدر رفته
            </th>
            <th>
                عملیات
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model)
            {
                <tr>
                    <th>1</th>
                    <th>@item.ParameterName</th>
                    <th>@item.ParameterNumber</th>
                    <th>@item.StandardTime</th>
                    <th>@item.StandardCount</th>
                    <th>@item.WastedTime</th>
                    <th>
                        <span class="text-danger">حذف|</span>
                        <span class="text-black-50">ویرایش</span>
                    </th>
                </tr>
            }
        }
    </tbody>
</table>