﻿@{
    ViewData["Title"] = "ایجاد پرسنل جدید";
}

@model ViewModel.Person.CreatePersonViewModel

<div class="container" style="direction:rtl">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">ثبت اطلاعات پرسنل</h3>
            <div class="card-text text-right">
                <!--
                <div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                <form asp-controller="Person" asp-action="Create">
                    <!-- to error: add class "has-danger" -->
                    <div class="row justify-content-start">
                        <div class="col-7">
                            <div class="form-group">
                                <label asp-for="@Model.FirstName"></label>
                                <input type="text" asp-for="@Model.FirstName" class="form-control form-control-sm">
                                <span asp-validation-for="@Model.FirstName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.LastName">نام خانوادگی</label>
                                <input type="text" class="form-control form-control-sm" asp-for="@Model.LastName">
                                <span asp-validation-for="@Model.LastName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.BaseSalary">حقوق پایه</label>
                                <input type="number" class="form-control form-control-sm" asp-for="@Model.BaseSalary">
                                <span asp-validation-for="@Model.BaseSalary"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">ثبت اطلاعات</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>