﻿@{
    ViewData["Title"] = "مدیریت پرسنل";
}

@model ViewModel.Person.CreatePersonViewModel

<table class="table table-striped table-bordered text-center mt-1">
    <thead class="bg-dark text-light">
        <tr>
            <th>شماره پرسنلی</th>
            <th>نام و نام خانوادگی</th>
            <th> حقوق پایه </th>
            <th>بستانکاری/بدهکاری</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>1</td>

            <td>mamad</td>
            <td>mamda</td>
            <td>
                <a href="#">ویرایش</a>
                <span>|</span>
                <a href="#">حذف</a>
            </td>
        </tr>
    </tbody>
</table>