﻿@model GeneralSettingsViewModel

@{
    ViewData["Title"] = "General";
}
<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>تنظیمات عمومی</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form asp-action="general" class="text-center" style="color: #757575;">

            <div class="container pt-4">
                <div class="row justify-content-center">

                    <div class="col-md-8">
                        <div class="md-form">
                            <label asp-for="CompanyName"></label>
                            <input asp-for="CompanyName" type="email" id="materialLoginFormEmail" class="form-control">
                            <span asp-validation-for="CompanyName"></span>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="md-form">
                            <label asp-for="EconomicId"></label>
                            <input asp-for="EconomicId" type="password" id="materialLoginFormPassword" class="form-control">
                            <span asp-validation-for="EconomicId"></span>
                        </div>
                    </div>

                    <div class="col-md-8">
                        <div class="md-form">
                            <label asp-for="PostId"></label>
                            <input asp-for="PostId" type="password" id="materialLoginFormPassword" class="form-control">
                            <span asp-validation-for="PostId"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="md-form">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" type="password" id="materialLoginFormPassword" class="form-control">
                            <span asp-validation-for="Address"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="md-form">
                            <label asp-for="Tell"></label>
                            <input asp-for="Tell" type="password" id="materialLoginFormPassword" class="form-control">
                            <span asp-validation-for="Tell"></span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">ثبت تنظیمات</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Form -->
    </div>
</div>