﻿@{
    ViewData["Title"] = "Personal";
}

<div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>تنظیمات پرسنل</strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <form class="text-center" style="color: #757575;" action="#!">

            <div class="container pt-4">
                <div class="row justify-content-center">

                    <div class="col-md-8">
                        <div class="md-form">
                            <label for="materialLoginFormPassword">سمت</label>
                            <select class="form-control">
                                <option value="0"></option>
                                <option value="1">ثانیه</option>
                                <option value="2">دقیقه</option>
                                <option value="3">ساعت</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="md-form">
                            <label for="materialLoginFormEmail">هزینه بیمه ماهیانه </label>
                            <input type="email" id="materialLoginFormEmail" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="md-form">
                            <label for="materialLoginFormPassword">هزینه مزایای ماهیانه</label>
                            <input type="password" id="materialLoginFormPassword" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-5">
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">ثبت تنظیمات</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- Form -->
    </div>
</div>