﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>نیروانا - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>مدیریت منابع انسانی</h3>
                <strong>نیروانا</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="border-bottom border-light py-3">
                    <a asp-controller="home" asp-action="index" class="text-light">
                        خانه
                    </a>
                </li>

                <li class="py-3 border-bottom">
                    <a href="#personalSub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
                        <i class="fas fa-copy"></i>
                        پرسنل
                    </a>
                    <ul class="collapse list-unstyled" id="personalSub">
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                ثبت پرسنل جدید
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                لیست پرسنل
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="py-3 border-bottom">
                    <a href="#parameterSub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
                        <i class="fas fa-copy"></i>
                        پارامتر
                    </a>
                    <ul class="collapse list-unstyled" id="parameterSub">
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="parameter" asp-action="create" class="text-light">
                                ثبت پارامتر جدید
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                لیست پارامترها
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="border-bottom border-light py-3">
                    <a asp-controller="dailyinformation" asp-action="create" class="text-light">
                        ثبت اطلاعات روزانه
                    </a>
                </li>
                <li class="py-3 border-bottom">
                    <a href="#reportsSub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle ">
                        <i class="fas fa-copy"></i>
                        گزارشات
                    </a>
                    <ul class="collapse list-unstyled" id="reportsSub">
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="setting" asp-action="general" class="text-light">
                                اطلاعات روزانه
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                تسویه کارکرد
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                مقایسه
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="border-bottom border-light py-3">
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        تسویه حساب
                    </a>
                </li>
                <li class="py-3 border-bottom">
                    <a href="#settingSub" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        تنظیمات
                    </a>
                    <ul class="collapse list-unstyled" id="settingSub">
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="setting" asp-action="general" class="text-light">
                                عمومی
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                پرسنل
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="parameter" asp-action="create" class="text-light">
                                پارامتر
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="dailyinformation" asp-action="create" class="text-light">
                                اطلاعات
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                گزارشات
                            </a>
                        </li>
                        <li class="border-bottom border-light py-3">
                            <a asp-controller="person" asp-action="create" class="text-light">
                                تسویه حساب
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="py-3">
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        تسویه حساب
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Toggle Sidebar</span>
                    </button>
                </div>
            </nav>
            <main role="main" class="py-2">
                @RenderBody()
            </main>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function (event) {
            document.getElementById('sidebarCollapse').onclick = function () {
                const side_classList = document.getElementById('sidebar').classList;
                if (side_classList.contains('active'))
                    side_classList.remove('active');
                else side_classList.add('active');
            };
        });
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>