﻿@model ViewModel.DailyInformation.CreateDailyInformationViewModel
<div class="form-group">
    <label asp-for="DiffrenceDoTime"></label>
    <input class="form-control" asp-for="DiffrenceDoTime" id="diffrenceDoTime" readonly/>
    <span asp-validation-for="DiffrenceDoTime"></span>
</div>
<div class="form-group">
    <label asp-for="DiffrenceQuantity"></label>
    <input class="form-control" asp-for="DiffrenceQuantity" id="diffrenceQuantity" readonly/>
    <span asp-validation-for="DiffrenceQuantity"></span>
</div>
    <div class="row justify-content-center border-top pt-3">
        <div class="col-9">
            <div class="row justify-content-around">
                <button type="submit" class="btn btn-success btn-md">ثبت اطلاعات</button>
                <button type="button" class="btn btn-danger btn-md" data-dismiss="modal"> انصراف</button>
            </div>
        </div>
    </div>

