﻿
@{
    ViewData["Title"] = "CreateAsync";
}
@model ViewModel.DailyInformation.CreateDailyInformationViewModel

<div class="container" style="direction:rtl">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">ثبت اطلاعات روزانه</h3>
            <div class="card-text text-right">
                <form asp-action="Create">
                    <div class="form-group">
                        <div class="row justify-content-between ">
                            <div class="col-md-5">
                                <label>نام و نام خانوادگی</label>
                                <select class="form-control form-control-sm" asp-items="@ViewBag.Persons" id="personname">
                                    <option value="0" id="defaultname">نام کارمند...</option>
                                </select>
                                <span asp-validation-for="@Model.PersonNumber"></span>
                            </div>

                            <div class="col-md-5">
                                <label asp-for="@Model.PersonNumber">شماره پرسنلی</label>
                                <input type="text" class="form-control form-control-sm" id="personnumber" asp-for="@Model.PersonNumber" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-between">
                            <div class="col-md-5">
                                <label for="exampleInputEmail1">نام پارامتر</label>
                                <select class="form-control form-control-sm" asp-items="@ViewBag.Parameters" id="parametername">
                                    <option value="0" id="defaultparameter"></option>
                                </select>
                                <span asp-validation-for="@Model.ParameterNumber"></span>
                            </div>

                            <div class="col-md-5">
                                <label asp-for="@Model.ParameterNumber">شماره پارامتر</label>
                                <input type="text" class="form-control form-control-sm" id="parameternumber" asp-for="@Model.ParameterNumber" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-between">
                            <div class="col-md-5">
                                <label>زمان استاندارد</label>
                                <input type="text" class="form-control form-control-sm" id="standardtime" readonly>
                            </div>

                            <div class="col-md-5">
                                <label asp-for="@Model.Date">تاریخ</label>
                                <input type="date" class="form-control form-control-sm" asp-for="@Model.Date" readonly>
                                <span asp-validation-for="@Model.Date"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-between">
                            <div class="col-md-5">
                                <label asp-for="@Model.DoTime">زمان انجام شده</label>
                                <input type="text" class="form-control form-control-sm" asp-for="@Model.DoTime" id="doTime">
                                <span asp-validation-for="@Model.DoTime"></span>
                            </div>

                            <div class="col-md-5">
                                <label asp-for="@Model.Quantity">تعداد انجام شده</label>
                                <input type="text" class="form-control form-control-sm" asp-for="@Model.Quantity" id="quantity">
                                <span asp-validation-for="@Model.Quantity"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#myModal" id="proccessor">پردازش اطلاعات</button>

                            <!-- Modal -->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header text-right" style="direction:rtl">
                                            <h4 class="modal-title">پردازش طلاعات</h4>
                                            <button type="button" class="close mr-auto ml-0" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            @await Html.PartialAsync("_ProccessResult",Model)
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $("#personname").change(function () {
            $('#personnumber').val($("#personname").val());
        });
        $("#personname").click(function () {

            $("#defaultname").remove();
            $('#personnumber').val($("#personname").val());
        });


        $("#parametername").change(function () {
            $('#parameternumber').val($("#parametername").val().split("/")[0]);
            $('#standardtime').val($("#parametername").val().split("/")[1]);

        });
        $("#parametername").click(function () {

            $("#defaultparameter").remove();
            $('#parameternumber').val($("#parametername").val().split("/")[0]);
            $('#standardtime').val($("#parametername").val().split("/")[1]);
        });

        $("#proccessor").click(function () {
            var val1 = $("#doTime").val();
            var val2 = $("#quantity").val();
            var val3 = $("#parameternumber").val();
            var val4 = $("#personnumber").val();

            console.log(val1);
            console.log(val4);
            $.ajax({
            type: "POST",
                url: "@Url.Action("ProccessResult")",
                data: { dotime: val1, quantity: val2, parameterNumber: val3, personNumber: val4 },
            dataType: "json",
                success: function (msg) {
                    console.log(msg);
                    console.log(msg.diffrenceDoTime);
                $("#diffrenceDoTime").val(msg.diffrenceDoTime);
                $('#diffrenceQuantity').val(msg.diffrenceQuantity);
            },
            error: function (req, status, error) {
                console.log(msg);
            }
        });
        })


    </script>
}





