﻿
@{
    ViewData["Title"] = "Proccessor";
}





<div class="container" style="direction:rtl">
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">پردازش اطلاعات</h3>
            <div class="card-text text-right">
                <form>
                    <div class="form-group">
                        <div class="row justify-content-center ">
                            <div class="col-5">
                                <label for="exampleInputEmail1">زمان بهینه کارکرد</label>
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="col-5">
                                <label for="exampleInputEmail1">زمان پرت کارکرد</label>
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row justify-content-center">
                            <div class="col-5">
                                <label for="exampleInputEmail1">مبلغ بهینه کارکرد</label>
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                            <div class="col-5">
                                <label for="exampleInputEmail1">مبلغ پرت کارکرد</label>
                                <input type="text" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <button type="submit" class="btn btn-primary btn-block">ثبت پردازش</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



